.card {
    display: flex;
	flex-direction: column;
	/* max-width: 370px;
    min-height: 520px; */

	margin: auto;
	padding: 32px 48px 16px;

	background-color: var(--card-background);
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-box-shadow);
    border: solid 1px var(--color-primary);
}

.card-image {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 24px ;
}

.card-price {
    font-size: 36px;
    font-weight: bold;
    color: var(--color-primary);
    margin: 24px;
    position: relative;
}

.price-currency {
    color: var(--input-text-color);
    font-size: 18px;
    position: absolute;
    bottom: 4px;
    padding-left: 4px;
}

 .card-action{
    margin: 16px;
    text-align: center;
}


.card-wrapper {
    display: flex;
    gap: 24px;
}


