@import "variables.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

a {
	color: var(--link-color);
}

img,
svg,
video,
picture {
	display: block;
	max-width: 100%;
}

ul li {
	list-style: none;
}

@font-face {
	font-family: "SanFrancisco";
	src: url(../fonts/SanFranciscoText-Regular.otf);
}

body {
	height: 100vh;
	background-color: var(--body-background);
	color: var(--text-color);
	font-family: SanFrancisco;
}

.text-center {
	text-align: center;
}

.m-4 {
	margin: 4px;
}
.m-8 {
	margin: 8px;
}
.m-16 {
	margin: 16px;
}
.m-32 {
	margin: 32px;
}

.container {
	background-color: transparent;
	min-height: 100vh;
	width: 1200px;
	margin: auto;
	padding: 36px 24px 80px 24px;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 470px;

	margin: auto;
	margin-top: 100px;
	padding: 32px 48px 16px;

	background-color: var(--card-background);
	border-radius: var(--card-border-radius);
	box-shadow: var(--card-box-shadow);
}

.form-container p {
	font-size: 24px;
	margin-bottom: 1em;
	color: beige;
}

form {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-inline: 10px;
}

.form-group {
	margin: 8px 0px;
}
.form-group label {
	display: block;
	font-weight: bold;
	color: beige;
}

.form-group input {
	width: 100%;

	padding: 8px 16px;
	margin-top: 8px;

	color: var(--input-text-color);

	border-radius: var(--input-border-radius);
	border: var(--input-border);
	background-color: var(--input-background);
	outline: 0;
	caret-color: var(--color-primary);
}

.form-group input:focus {
	border-color: var(--input-focus-border-color);
	box-shadow: 0 0.125rem 0.25rem rgba(15, 20, 34, 0.4);
}

.form-group input::placeholder {
	transition: padding-left 0.3s ease;
	padding-left: 0px;
}

.form-group input:focus::placeholder {
	padding-left: 4px;
}

.btn {
	margin: auto;
	margin-top: 1em;
	padding: 8px 24px;

	background-color: var(--color-primary);
	border: 0px;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
}

.btn:hover {
	background-color: #847af1;
	box-shadow: var(--card-box-shadow);
}

.create-account {
	display: block;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	cursor: pointer;
	max-width: 48px;
	margin-right: auto;
	
	
}
.nav-links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.3s ease 0s;
	text-decoration: none;
}

header button {
	padding: 9px 25px;
	margin: 0px 8px;
	background-color: rgba(132, 122, 241, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

header button:hover {
	background-color: rgba(132, 122, 241, 0.8);
}

.nav-links li a:hover {
	color: #847af1;
}

[alt="main"] {
	transition: transform 0.3s ease; /* Плавный переход */

}

[alt="main"]:hover {
	transform: scale(1.1); /* Увеличение на 10% */
}

.titol {
	font-size: 60px;
	text-align: center;
	margin: 20px auto;
	font-weight: 900;
	background: linear-gradient(
		to right,
		#28c76f 0%,
		#5a4aff 47.92%,
		#ff3739 100%
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent; /* Скрываем исходный цвет текста */
	text-shadow: rgba(126,42,156,0.38) 0px 0px 27px;
}

p.description {
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
	margin: 48px auto;
	line-height: 34px;
}
.btn-access {
	display: block;

	margin: 50px auto 0px auto;
	padding: 16px 24px;
	box-shadow: var(--card-box-shadow);
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.footer {
	background-color: var(--card-background);

	padding: 10px;
	box-shadow: var(--card-box-shadow);
}
