

.table-container {
    margin: 86px 48px;
}

table {
    margin: auto;
    width: 800px;
    padding: 24px;
    border-collapse: collapse;
    border-radius: var(--card-border-radius);
    background-color: var(--card-background);
    box-shadow: var(--card-box-shadow);
}

th {
    font-weight: 700;
    text-align: left;
    padding: 16px;

}

.td-foto {
    width: 68px;
}
td {
    border-top: var(--input-border);
    text-align: left;
    padding: 8px 16px;
}

td img {
    border-radius: 50%;
}