

.table-container {
    margin: 86px 48px;
}

table {
    margin: auto;
    border-radius: var(--card-border-radius);
    background-color: var(--card-background);
    box-shadow: var(--card-box-shadow);
}

th {
    font-weight: 700;
}

/* td {
    border-bottom: 1px solid red;
} */
.td-foto {
    width: 60px;
}
td img {
    border-radius: 50%;
}